<div>
<% if @recipes.public %>
  <h1 class="show-shopping-heading">Shopping List</h1>

  <div id="shopping-info">
    <div class="shopping-side-info">
      <h4>Amount of food to buy: <%= @shopping_list.length %></h4>
      <h4>Total value of food needed: <%= @foods.price %>$</h4>
    </div>
    <div class="shopping-side-info">
      <h4>Recipe: <%= link_to @recipes.name, recipe_path(id: @recipes.id) %></h4>
    </div>
  </div>
  <hr>
  <% if @shopping_list.present? %>
    <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @shopping_list.each do | food_item | %>
        <tr>
          <td> <div><%= food_item[:food_name] %></div> </td>

          <td><div><%= food_item[:quantity]%>&nbsp;<%= food_item[:food_uom] %></div></td>

          <td>
            <div><b>$<%= food_item[:price] %></b></div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <% else %>

      <h4>No need for shopping right now.</h4>
      <% end %>
      
  <% else %>
    <h4>You are not authorized to see this recipe.</h4>
<% end %>
</div>