<div class="col-md-6">
<h2>Add New Ingredient</h2>
<hr class="border border-primary border-2 opacity-50">
<%= form_with(model: @recipe_food, url: recipe_recipe_foods_path, local: true) do |form| %>

  <div class="mb-3">
    <%= form.label :quantity, style: "display: block",class: "fw-bold form-label" %>
    <%= form.number_field :quantity, class: "form-control", value: 1 %>
  </div>

  <div class="mb-3">
    <%= form.label :food_id, style: "display: block",class: "fw-bold form-label" %>
     <%= form.collection_select :food_id, current_user.foods, :id, :name, { include_blank: false }, class: 'form-control' %>
  </div>

   <div class="mb-3">
    <%= form.submit "Create Ingredient", class: 'btn btn-primary' %>
  </div>

<% end %>
</div>